<section class="catalog-section">
  <div class="container">
    <div class="catalog-wrapp section">
      <h2 class="catalog-title">Catalog</h2>
      <ul class="catalog-list">
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob1-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob1-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab1-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab1-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk1-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk1-2x-min.png 2x
              "
            />
            <img
              class="catalog-img"
              src="/img/catalog-section-img/desk/catalogdesk1-1x-min.png"
              alt="Garmin Fenix 7X Pro"
            />
          </picture>
          <p class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</p>
          <span class="catalog-span">€500</span>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob2-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob2-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab2-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab2-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk2-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk2-2x-min.png 2x
              "
            />
            <img
              class="catalog-img"
              src="/img/catalog-section-img/desk/catalogdesk2-1x-min.png"
              alt="Garmin Marq Athlete"
            />
          </picture>
          <p class="catalog-text">Garmin Marq Athlete</p>
          <span class="catalog-span">€450</span>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob3-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob3-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab3-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab3-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk3-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk3-2x-min.png 2x
              "
            />
            <img
              class="catalog-img active"
              src="/img/catalog-section-img/desk/catalogdesk3-1x-min.png"
              alt="Garmin Descent MK1"
            />
          </picture>
          <p class="catalog-text">Garmin Descent MK1</p>
          <span class="catalog-span">€680</span>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob4-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob4-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab4-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab4-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk4-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk4-2x-min.png 2x
              "
            />
            <img
              class="catalog-img"
              src="../img/catalog-section-img/desk/catalogdesk4-1x-min.png"
              alt="Garmin D2 Delta PX"
            />
          </picture>
          <p class="catalog-text">Garmin D2 Delta PX</p>
          <span class="catalog-span">€380</span>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob5-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob5-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab5-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab5-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk5-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk5-2x-min.png 2x
              "
            />
            <img
              class="catalog-img"
              src="/img/catalog-section-img/desk/catalogdesk5-1x-min.png"
              alt="Garmin Fenix 6 Pro Solar"
            />
          </picture>
          <p class="catalog-text">Garmin Fenix 6 Pro Solar</p>
          <span class="catalog-span">€400</span>
        </li>
        <li class="catalog-item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /img/catalog-section-img/mob/catalogmob6-1x-min.png 1x,
                /img/catalog-section-img/mob/catalogmob6-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/catalog-section-img/tab/catalogtab6-1x-min.png 1x,
                /img/catalog-section-img/tab/catalogtab6-2x-min.png 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/catalog-section-img/desk/catalogdesk6-1x-min.png 1x,
                /img/catalog-section-img/desk/catalogdesk6-2x-min.png 2x
              "
            />
            <img
              class="catalog-img"
              src="/img/catalog-section-img/desk/catalogdesk6-1x-min.png"
              alt="Tube Watch S42"
            />
          </picture>
          <p class="catalog-text">Tube Watch S42 Date Steel With Black Case</p>
          <span class="catalog-span">€395</span>
        </li>
      </ul>
    </div>
  </div>
</section>
