

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  max-width: 335px;
  background: #f3f3f3;
  padding: 24px 28px;
}

.catalog-text {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.btn-show-more {
  display: flex;
  justify-content: center;
}

.catalog-item:nth-child(5),
.catalog-item:nth-child(6) {
  display: none;
}

.catalog-btn {
  border: none;
  padding: 15px 44px;
  border-radius: 16px;
  background: #3350e9;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog-btn:hover {
  background-color: #1f3cd4;
}

.legacy:nth-last-child(-n + 2) {
  display: none;
}

.catalog-img {
  width: 208px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }


  .catalog-item{
    max-width: 344px;
  }

  .catalog-item:nth-child(5),
  .catalog-item:nth-child(6) {
    display: block;
  }

  .catalog-img {
    width: 268px;
    height: 292px;
  }

  .catalog-list {
    gap: 32px 16px;
  }

  .btn-show-more {
    display: none;
  }

  .catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .catalog-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    width: 282px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
  

  .catalog-text {
    font-weight: 500;
  }

  .catalog-list {
    gap: 32px 24px;
  }

  .catalog-item{
    max-width: 368px;
  }
}
